snippet for "django"
{% for ${1:item} in ${2:items} %}
	$0
{% endfor %}
endsnippet


snippet forloop "django counter"
{{ forloop.counter }}
endsnippet


snippet csrf "django csrf_token"
{% csrf_token %}
endsnippet
